body {
    font-family: Arial, sans-serif;
    background-color: #dee0b7;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#todo-input {
    padding: 10px;
    width: 300px;
}

#add-button, #clear-button {
    padding: 10px;
    background-color: #eff1b6;
    justify-content: center;
}

#add-button:hover, #clear-button:hover {
    padding: 10px;
    background-color: #bfc093;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}

.todo-item {
    background: #bdeecc;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.delete-button {
    background: #e8776f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}